<!DOCTYPE html>
<html ng-app="qaApp" ng-controller="HeadCtrl">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
    <meta name="description" content="Harvard Website to ask questions in class"/>
    <meta name="author" content="Jovin Mwilanga"/>

    <!--google analytics-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-58209445-1', 'auto');
        //        ga('send', 'pageview');

    </script>

    <!-- loads bootstrap css -->
    <link rel="stylesheet" href="/public/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="/public/css/bootstrap/css/bootstrap-theme.min.css">

    <!--animate.css-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css"/>

    <!--loads font awesome-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">

    <!--angular loading bar css-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.6.0/loading-bar.min.css"/>

    <!--normalize.css-->
    <link rel="stylesheet" href="/bower_components/normalize.css/normalize.css"/>

    <!--toastr-->
    <link rel="stylesheet" href="/bower_components/toastr/toastr.min.css">

    <!-- loads custom css file -->
    <link rel="stylesheet" href="/public/css/chat.css">

    <title ng-cloak>{{title}}</title>

</head>
<body ng-controller="MainController">
<toast></toast>
<!--start of nav-->
<div class="ng-cloak">
    <div top-qa-nav></div>
</div>
<!--end of nav-->

<!--middle container-->
<div class="container">
    <div ng-switch on="tab">

        <div class="row">
            <div ng-view></div>

            <!--start of trending summary-->
            <div ng-switch-when="home" class="ng-cloak">
                <div trending-summary></div>
            </div>
            <!--end of trending summary-->

            <!--start of online users-->
            <div class="ng-cloak">
                <div online-feed></div>
            </div>
            <!--end of online users column-->
        </div>

    </div>
</div>
<!--end of mid container-->


<!--start of bottom nav-->
<div class="ng-cloak">
    <div bottom-qa-nav></div>
</div>
<!--end of bottom nav-->


<!--start of question input modal-->
<div question-modal></div>
<!--end of question input modal-->


<!-- JAVASCRIPT -->

<!-- socket.io javascript -->
<script type="text/javascript" src="socket.io/socket.io.js"></script>

<!-- jquery -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!--AngularJS SCRIPTS-->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.9/angular-route.min.js"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-animate.min.js"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-sanitize.min.js"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>

<!--angular analytics-->
<script src="//cdnjs.cloudflare.com/ajax/libs/angulartics/0.17.2/angulartics.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angulartics/0.17.2/angulartics-ga.min.js"></script>


<!-- Bootstrap.js -->
<script type="text/javascript"
        src="/public/css/bootstrap/js/bootstrap.min.js"></script>

<!--angular loading bar js-->
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.6.0/loading-bar.min.js"></script>

<!-- loads respond.js: enables responsive web designs in browsers that don't support CSS3 Media Queries - in particular, Internet Explorer 8 and under. -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>


<!--text angular-->
<script src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular-sanitize.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular.min.js'></script>

<!--toastr js-->
<script src="/bower_components/toastr/toastr.min.js"></script>

<script type="text/javascript" src="/public/js/chat.js"></script>
<script type="text/javascript" src="/public/angular_assets/qaApp/mainApp.js"></script>
<script type="text/javascript" src="/public/angular_assets/qaApp/filters.js"></script>
<script type="text/javascript" src="/public/angular_assets/qaApp/directives.js"></script>
<script type="text/javascript" src="/public/angular_assets/qaApp/services/globals.js"></script>
<script type="text/javascript" src="/public/angular_assets/qaApp/services/questionFactory.js"></script>
<script type="text/javascript" src="/public/angular_assets/qaApp/services/reference.js"></script>
<script type="text/javascript" src="/public/angular_assets/qaApp/services/socketService.js"></script>
<script type="text/javascript" src="/public/angular_assets/qaApp/services/commentFactory.js"></script>
<script type="text/javascript" src="/public/angular_assets/qaApp/services/mainFactory.js"></script>
<script type="text/javascript" src="/public/angular_assets/qaApp/controllers/mainCtrl.js"></script>
<script type="text/javascript" src="/public/angular_assets/qaApp/controllers/logInOutCtrl.js"></script>
<script type="text/javascript" src="/public/angular_assets/qaApp/controllers/onlineCtrl.js"></script>
<script type="text/javascript" src="/public/angular_assets/qaApp/controllers/cmtCtrl.js"></script>
<script type="text/javascript" src="/public/angular_assets/qaApp/controllers/qCtrl.js"></script>
<script type="text/javascript" src="/public/angular_assets/qaApp/controllers/trendingCtrl.js"></script>

</body>
</html>