<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Harvard Website to ask questions in class"/>
    <meta name="author" content="Jovin Mwilanga"/>
    <title>HarvardClass - Login</title>

    <!--google analytics-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-58209445-1', 'auto');
        ga('send', 'pageview');

    </script>

    <!-- loads bootstrap.css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!--loads font awesome-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- loads stylesheet for form bootstrap validator plugin -->
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/>

    <!-- loads custom css file -->
    <link rel="stylesheet" href="css/login.css" rel="stylesheet">

</head>

<body>

<!--start of nav-->

<!--the class static-top sticks nav bar at top, and fixed-top just fixes it at top-->
<div class="navbar navbar-inverse navbar-static-top">

    <!--'container' div makes sure our content is well centered on the screen-->
    <div class="container">
        <a href="/" class="navbar-brand"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> HarvardClass</a>

        <!--button to target the navbar-right which will appear on collapse of navbar items-->
        <button class='navbar-toggle' data-toggle="collapse" data-target=".navHeaderCollapse">

            <!--create the breadcrumb-->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

        </button>

        <!--this navbar will be collapsed on mobile-->
        <div class="collapse navbar-collapse navHeaderCollapse">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://canvas.harvard.edu/" target="_blank">Canvas</a></li>
                <li><a href="https://my.harvard.edu" target="_blank">my.harvard.edu</a></li>
                <li id='signInName'><a href="#">About</a></li>

                <!--the user profile dropdown-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <%= displayName %> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="logoutHarvardLogin">Logout from Harvard</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--end of nav-->

<!--start of jumbotron-->
<div class='container'>

    <!--the text-center class centers everything in it-->
    <div class="jumbotron text-center">

        <h1>HARVARD CLASS</h1>

        <p>"We have enriched the way people ask questions in class. Harvard Class was built with one goal only: To
            bring a more dynamic Q/A classroom environment between the professor and students"</p>

        <a class="btn btn-default"><i class="fa fa-info-circle"></i> About Us</a>
        <a class="btn btn-default"><i class="fa fa-question"></i> Help</a>

    </div>

</div>
<!--end of jumbotron-->

<!--start of custom student login form-->
<div class="container">
    <!--data-dv attributes for bootstrap validator plugin-->
    <form action="/studentLogin"
          method="post"
          id="studentLoginForm"
          data-bv-message="This value is not valid"
          data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
          data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
          data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

        <!--Username field-->
        <div class="form-group">
            <label for="customUsername">Custom Username</label>
            <input type="text"
                   class="form-control"
                   id="customUsername"
                   placeholder="Enter your custom Username"
                   name="customUsername"
                   data-bv-message="The username is not valid"
                   data-bv-notempty="true"
                   data-bv-notempty-message="The username is required and cannot be empty"
                   data-bv-regexp="true"
                   data-bv-regexp-regexp="^[a-zA-Z0-9_\.]+$"
                   data-bv-regexp-message="The username can only consist of alphabetical, number, dot and underscore"
                   data-bv-stringlength="true"
                   data-bv-stringlength-min="4"
                   data-bv-stringlength-max="5"
                   data-bv-stringlength-message="The custom username must be at least 4 and at most 5 characters long"/>
        </div>

        <!--class code field-->
        <div class="form-group">
            <label for="classCode">Code</label>
            <input type="password"
                   class="form-control"
                   id="classCode"
                   placeholder="Password"
                   name="classCode"
                   data-bv-message="The class code is not valid"
                   data-bv-notempty="true"
                   data-bv-notempty-message="The class code is required and cannot be empty"
                   data-bv-regexp="true"
                   data-bv-regexp-regexp="^[a-zA-Z0-9_\.]+$"
                   data-bv-regexp-message="The class code can only consist of alphabetical, number, dot and underscore"
                   data-bv-stringlength="true"
                   data-bv-stringlength-min="5"
                   data-bv-stringlength-max="10"
                   data-bv-stringlength-message="The class code must be at least 5 and at most 10 characters long"/>
        </div>

        <!--<button type="submit" class="btn btn-default btn-block">Get in Class</button>-->
        <div class="form-group">
            <button type="submit" class="btn btn-default btn-block">Get in Class</button>
        </div>
    </form>
</div>
<!--end of custom student login form-->


<!--start of instructor login form-->
<div class="container" style="display: none">
    <form action="/instructorLogin" method="post" id="instructorLoginForm">
        <div class="form-group">
            <label for="email">Instructor's Email</label>
            <input type="email" class="form-control" id="email" placeholder="Please enter your Email Address">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default btn-block">Sign In</button>
        </div>
    </form>
</div>
<!--end of instructor login form-->

<!--start of footer-->
<div class='navbar navbar-default navbar-fixed-bottom'>
    <!--'container div makes sure of correct alignment-->
    <div class="container">

        <!--the class navbar-text makes sure that the text is correctly centerd in the navbar-->
        <!--the class pull-left floats the buttons to the left-->
        <p class="navbar-text pull-left">
            Site Built By Jovin Mwilanga:
            <a href="https://www.google.com/+JovinMwilanga" target="_blank">
                <i class="fa fa-google-plus-square"></i>
            </a>
            <a href="https://twitter.com/jovinbm" target="_blank">
                <i class="fa fa-twitter-square"></i>
            </a>
            <a href="https://www.linkedin.com/in/jovinmwilanga/" target="_blank">
                <i class="fa fa-linkedin-square"></i>
            </a>
        </p>

        <!--the class navbar-btn styles the buttons for the nav-->
        <!--the class pull-right floats the buttons to the right-->
        <div class="pull-right">
            <a class="navbar-btn btn btn-warning btn-xs">Status: Development</a>
            <a href="#myModal" role="button" class="btn btn-info btn-xs" data-toggle="modal">Shoot Me an Email</a>
        </div>
    </div>
</div>
<!--end of footer-->

<!--email modal-->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">I'd Love to Hear From You</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal col-sm-12 emailForm" method="post" action="/sendEmail">
                    <div class="form-group"><label>Name</label><input class="form-control required"
                                                                      placeholder="Your name" data-placement="top"
                                                                      data-trigger="manual"
                                                                      data-content="Must be at least 3 characters long, and must only contain letters."
                                                                      type="text" name="name"></div>
                    <div class="form-group"><label>Message</label><textarea class="form-control"
                                                                            placeholder="Your message here.."
                                                                            data-placement="top"
                                                                            data-trigger="manual"
                                                                            name="message"></textarea></div>
                    <div class="form-group"><label>E-Mail</label><input class="form-control email"
                                                                        placeholder="email@you.com (so that I can contact you)"
                                                                        data-placement="top" data-trigger="manual"
                                                                        data-content="Must be a valid e-mail address (user@gmail.com)"
                                                                        type="text" name="email"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success pull-right">Send It!</button>
                        <p class="help-block pull-left text-danger hide" id="form-error">&nbsp; The form is not
                            valid. </p></div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--end of email modal-->


<!-- JAVASCRIPT -->

<!-- socket.io javascript -->
<script type="text/javascript" src="socket.io/socket.io.js"></script>

<!-- jquery -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- Boostrap.js -->
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<!-- loads respond.js: enables responsive web designs in browsers that don't support CSS3 Media Queries - in particular, Internet Explorer 8 and under. -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>

<!-- loads jquery cookie plugin -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<!-- loads jquery for bootstrapvalidator plugin -->
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>

<!-- customlogin javascript file: should be loaded after jquery-->
<script type="text/javascript" src="js/login.js"></script>

<!--my custom javascript file with pluging-->
<script type="text/javascript" src="js/custom_plugin.js"></script>
</body>
</html>