<div ng-controller="TrendingSummaryCtrl"
     class="animated fadeIn"
     ng-class="columnClass">
    <h5 id="trending"
        ng-click="changeTab('trending')">
        <a href="#/trending/full/">
            <i class="fa fa-line-chart"></i> Trending
        </a>
    </h5>
    <ul class="list-group">
        <li class="list-group-item ng-cloak"
            ng-repeat="eachTop in topVotedQuestions"
            ng-class="[
            questionReference[eachTop.questionIndex].questionClass,
            questionReference[eachTop.questionIndex].listGroupClass
            ]">
            <span class="badge voteNumber">
                {{eachTop.votes}}
            </span>
            <a ng-href="#/fullQuestion/{{eachTop.questionIndex}}/">
                <strong class="text-outputs">{{eachTop.heading}}</strong>
                <small class="senderName">by {{eachTop.senderName}}</small>
            </a>
        </li>
    </ul>
</div>